.mainsection {
    width: 100%;
  }
  
  .mainsection > :nth-child(1) {
    margin-bottom: 2em;
  }
  
  .vertical-timeline-element-subtitle {
    margin-top: 0.5em;
    font-size: 0.9em;
  }
  
  .vertical-timeline-element-title {
    font-size: 1.1em;
    color: var(--clr-primary);
  }
  
  .vertical-timeline-date {
  background-color: transparent !important; /* Overwrite library's background */
  box-shadow: none !important;              /* Remove any default shadow */
  border: none !important;                  /* Remove default border, if any */
  color: var(--clr-fg-alt);                 /* Adjust text color if needed */
}
@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date {
      position: absolute;
      width: 100%;
      left: 100%;
      top: 6px;
      font-size: 1rem;
  }
}